@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

body {
  color: #fff;
  background-color: #091540;
  display: flex;
  justify-content: center;
}

section.wrapper {
  width: 1170px;
  margin: 24px 16px;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  border-radius: 20px;
  background-color: #202535;
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo img {
  width: 40px;
}

.theme-toggle img {
  width: 20px;
}

.theme-toggle {
  padding: 18px;
  background-color: #2f364b;
  border-radius: 12px;
}

.theme-toggle:hover {
  background-color: #535868;
  cursor: pointer;
}

/* main content */
main {
  margin-top: 32px;
}

.heading-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;
}

h1 {
  font-size: 34px;
  text-align: center;
}

/* Button Section */
.btn-container {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: center;
}

.btn-container button {
  padding: 8px 20px;
  border-radius: 999px;
  background-color: #2f364b;
  border: 1px solid #535868;
  color: #fff;

}

.btn-container button:focus {
    border: 1px solid #202535;
    outline: 1px solid #f25c54;
    background-color: #535868;
}

.btn-container button:hover {
  background-color: #535868;
  cursor: pointer;
}

.btn-container button#active {
  background-color: #f25c54;
  color: #000;
  border: 1px solid #f25c54;
}

.btn-container button#active:focus {
  border: 1px solid #202535;
  outline: 1px solid #f25c54;
}

/* Card */
.card-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.card {
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  background-color: #202535;
  color: #fff;
  gap: 24px;
  border: 1px solid #535868;
  border-radius: 20px;
}

.card-info {
  display: flex;
  gap: 18px;
}

.card-down {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-down button {
  padding: 6px 12px;
  border: none;
  color: #fff;
  background-color: transparent;
  border: 1px solid #535868;
  border-radius: 999px;
}

.card-down button:hover {
  background-color: #f25c54;
  cursor: pointer;
  border: 1px solid #f25c54;
  color: #000;
}

.card-down button:focus {
  background-color: #535868;
  cursor: pointer;
  outline: 1px solid #f25c54;
  border: 1px solid #202535;
}

.card-description h2 {
  font-size: 16px;
  margin-bottom: 10px;
}

.card-description p {
  font-size: 14px;
  color: #c6c6c6;
}

/* Toggle Switch Styles */
.toggle-container {
  display: flex;
  align-items: center;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #535868;
  transition: 0.4s;
  border-radius: 24px;
}

.toggle-switch:focus {
  background-color: #f25c54;
}

.toggle-slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .toggle-slider {
  background-color: #f25c54;
}

input:checked + .toggle-slider:before {
  transform: translateX(26px);
}

input:checked:focus + .toggle-slider {
  border: 1px solid #202535;
  outline: 1px solid #f25c54;
}

@media (min-width: 768px) {
  .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .heading-container {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 1024px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
